body {
    background-color: azure;
}
.container {
    text-align: center;
}
button {
    background-color: burlywood;
    color: blue;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background-color: aliceblue;
    border: 1px solid crimson;
}
h3 {
    margin-top: 30px;
}
