* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.canvas {
    background-color: #2121;
    width: 80%;
    margin: 100px auto 100px;
    text-align: center;
}
span {
    width: 100px;
    height: 100px;
    display: inline-block;
    /* border: 1px solid black; */
}
#grey {
    background-color: grey;
}
#pink {
    background-color: pink;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
