* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.canvas {
    width: 80%;
    margin: 100px auto 100px;
    text-align: center;
}
h1 {
    margin-bottom: 36px;
}
span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
}
#grey {
    background-color: grey;
}
#pink {
    background-color: pink;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
